.product-list {
    padding: 0;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: stretch;
}

.product-list__item {
    list-style: none;
    width: 32%;
}
.product-list__item  td{
    position: relative;
}
.product-list__item  td:last-child{
    width: 150px;
    text-align: center;
}
.product-list__item  td:nth-child(2){
    width: 250px;
}
.product-list__item .btn{
    position: absolute; right: 20px;
    top: 30px;
    display: none;
    background: #0b5ed7;
}
.product-list__item:hover .btn{
    display: block;
}
